<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - The Lost Contacts</title> 
    
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <header class="main-header">
        <div class="container nav-container">
            <div class="logo">
                <img src="/logo.png" alt="The Lost Contacts Logo" class="logo-image">
            </div>
            <nav class="main-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    
                    <li class="dropdown">
                        <a href="/articles/optometry/">Optometry <i class="fa-solid fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/articles/optometry/aspiring/">Aspiring Students</a></li>
                            <li><a href="/articles/optometry/student/">Students</a></li>
                            <li><a href="/articles/optometry/professional/">Professionals</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="/articles/opticianry/">Opticianry <i class="fa-solid fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/articles/opticianry/aspiring/">Aspiring Students</a></li>
                            <li><a href="/articles/opticianry/student/">Students</a></li>
                            <li><a href="/articles/opticianry/professional/">Professionals</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    ```